/* Vernon Louie     March 2017 */

body {
    font-family:                Verdana, Arial;
    background:                 url(images/background_pony.jpg) no-repeat center center fixed;
    -webkit-background-size:    cover;
    -moz-background-size:       cover;
    -o-background-size:         cover;
    background-size:            cover;
}

@font-face {
    font-family:    "kinkie";                   /* found this font on www.1001fonts.com/girly-fonts.html */
    src:            url("fonts/KINKIE__.TTF");
}

.title {
    font-family:    "kinkie", Verdana, Arial;
}

/* Header and its elements */
header {
    /*height:         5em;*/
    width:          90vw;
    text-align:     center;
    border-radius:  0.5em;
    margin:         auto;
    /*border:         1px yellow dashed;*/
}

    .title {
        height:     4em;
        width:      50%;
        display:    inline-block;
        margin:     0 0 2em 0;
        color:      rebeccapurple;
    }

    .settings {
        height:     4em;
        width:      40%;
        display:    inline-block;
        /*border:     black dotted 1px;*/
    }


/* Bottom container and its elements */
.bottom_container {
    height:         80vh;
    /*width:          90vw;*/
    text-align:     center;
    border-radius:  3em;
    /*border:         1px black dotted;*/
    margin:         auto;
}

/* left side bar within bottom container and its elements */
.left_side {
    height:         70vh;
    width:          20%;
    text-align:     center;
    border-radius:  2em;
    display:        inline-block;
    vertical-align: top;
    padding-left:   2em;
    color:          darkblue;
    /*border:             1px yellow dotted;*/
}

    .first_top {
        height:             3em;
        width:              90%;
        background-color:   deeppink;
        margin:             0.2em 0 0 0.2em;
        border-radius:      1em;
    }

    .label {

    }

    .games-played {

    }

    .attempts {

    }

    .accuracy {

    }

    .reset {

    }

    .lift {
        margin: 2em 0 0.5em 0;
    }

/* game area and its elements within bottom container */
#game_area {
    height:             80vh;
    width:              70%;
    text-align:         center;
    border-radius:      0.5em;
    /*border:             1px blue solid;*/
    font-family:    "kinkie";
    color:          purple;
    margin:             auto;
    display:            inline-block;
}

    .card_row {
     /*   border:             0.1em dotted black; */
        height:             30%;
        margin:             0.5em;
    }

    .card {
     /*   border:             0.1em dashed brown; */
        height:             99%;
    }

    .front {
        height:     100%;
        width:      100%;
        position:   absolute;
    }

    .back {
        height:     100%;
        width:      100%;
        position:   absolute;
        opacity:    1;
    }

    .make_opaque {
        opacity:        0;
    }



